<h2>Componente principal</h2>
<p>El nombre de proyecto es {{title}}</p>
<a routerLink="/primero" routerLinkActive="active" ariaCurrent="page">Primero</a>
<br>
<a routerLink="/segundo" routerLinkActive="active" ariaCurrent="page">Segundo</a>
<br>
<a routerLink="/tercero" routerLinkActive="active" ariaCurrent="page">Tercero</a>
<br>
<a routerLink="/cuarto" routerLinkActive="active" ariaCurrent="page">Cuarto</a>
<br>
<a routerLink="/quinto" routerLinkActive="active" ariaCurrent="page">Quinto</a>
<br>
<a routerLink="/ocho" routerLinkActive="active" ariaCurrent="page">Ocho</a>
<br>
<a routerLink="/contacto-td" routerLinkActive="active" ariaCurrent="page">Contacto-TD</a>
<br>
<a routerLink="/contacto-reactive" routerLinkActive="active" ariaCurrent="page">Contacto-Reactive</a>
<br>
<a routerLink="/consumir-imagen" routerLinkActive="active" ariaCurrent="page">Consumir-Imagen</a>
<br>
<hr>
<app-hijo [name]="'juan'"></app-hijo>
<router-outlet></router-outlet>